<!doctype html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ title }} | Mima</title>

   <style>
      * {
         margin: 0;
         padding: 0;
      }
      .Mima {
         text-align: center;
      }
      .Mima-Leaf {
         display: inline-block;
         position: relative;
         margin: 0.625em 1em;
         vertical-align: top;
         white-space: nowrap;
         cursor: default;
      }
      .Mima-Leaf:before {
         content: "";
         position: absolute;
         bottom: 100%;
         left: 50%;
         width: 1px;
         height: 0.625em;
         background-color: currentColor;
      }
      .Mima-Leaf-Name {
         padding: 0.1em 0.3em;
         outline: 1px solid currentColor;
      }
      .Mima-Leaf-Notes {
         position: absolute;
         left: 50%;
         z-index: 1;
         display: none;
         min-width: 20vw;
         max-width: 100vw;
         padding: 1em;
         transform: translateX(-50%);
         text-align: left;
         white-space: normal;
         background: #fff;
         outline: 1px dashed currentColor;
      }
      .Mima-Leaf-Name:hover + .Mima-Leaf-Notes,
      .Mima-Leaf-Notes:hover {
        display: block;
      }
   </style>
</head>
<body>
   <div class="Mima">
      {{{ tree }}}
   </div>
</body>
</html>
